@{
    ViewData["Title"] = "Home Page";
}

<figure class="floatright">
    <img src="images/windingroad.jpg" alt="windigo road" width="333" height="156"/>
</figure>
<ul>
    <li>Speciality Coffee and Tea</li>
    <li>Bagles, Muffins and Organic snacks</li>
    <li>Music and Poetry Readings</li>
    <li>Open Mic Night</li>
</ul>
<div>
    666 Main Street<br/>
    Ocean View, CA 66666<br/>
    <a id="mobile" href="tel:6-666-666-6666">6-666-666-6666</a>
    <span id="desktop">6-666-666-6666</span><br/>
    <br/>
</div>
